@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
@font-face {
  font-family: mirra;
  src: url(../font/Mirra.otf); }

.body {
  background-color: #f0f1ed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins; }

.main__img {
  overflow: hidden; }

.main__wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }
  .main__wrapper video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

.main__intro {
  position: relative;
  color: white;
  padding: 0rem;
  width: 90%; }
  .main__intro a {
    color: white;
    text-decoration: none; }
  .main__intro--desc {
    padding-top: 6rem; }
  .main__intro--create {
    padding: 0; }

.main__cardsContainer {
  display: flex;
  flex-direction: column; }

.main__card {
  background-color: white; }
  .main__card img {
    width: 50%;
    margin-bottom: 2rem; }

.main__create {
  padding: 2rem;
  background-image: url(../img/pexels-photo-4210804.jpeg);
  background-size: cover;
  height: 100vh;
  font-family: mirra;
  line-height: 3rem; }

.main__news {
  font-family: mirra;
  text-transform: uppercase;
  padding: 3rem 6rem;
  font-size: 10rem;
  position: relative; }

.main__contact {
  display: flex;
  flex-direction: column; }

.main__contactForm {
  height: 50vh; }
  .main__contactForm--container {
    margin: 6rem; }
    .main__contactForm--container h3 {
      font-family: mirra; }

.main__map {
  filter: grayscale(100);
  height: 50vh; }

.footer {
  width: 100%;
  padding: 3rem 6rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-weight: bold;
  background-color: #bccac7; }
  .footer ul {
    list-style-type: none;
    font-weight: 400;
    margin-top: 0.5rem;
    padding: 0;
    font-size: 0.6rem; }
  .footer li {
    margin-top: 0.5rem; }
  .footer__sns {
    width: 50%; }
    .footer__sns img {
      height: 2rem;
      margin-right: 1rem; }

@media (min-width: 992px) {
  .header {
    font-size: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    color: white;
    background-color: rgba(255, 255, 255, 0.253);
    border-bottom: 1px solid white;
    padding: 0; }
    .header img {
      height: 2rem; }
    .header__button {
      margin-right: 6rem;
      border-radius: 100%;
      width: 2rem;
      height: 2rem;
      text-align: center; }
  #cartButton {
    position: relative;
    border: 0;
    background-color: transparent; }
    #cartButton p {
      position: absolute;
      top: 0;
      right: 0;
      background-color: red;
      aspect-ratio: 1/1;
      padding: 0.3vh 0.7vh;
      font-size: 1.2vh;
      color: white;
      border-radius: 100%; }
  .navbar-brand {
    padding: 1rem 5rem; }
  .main {
    top: 0;
    left: 0; }
    .main__wrapper {
      background-size: 88%;
      background-position: center; }
    .main__intro {
      width: 100%;
      padding: 0vh 6rem;
      font-size: 10vh;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: center;
      align-items: center; }
      .main__intro--desc {
        text-align: left;
        font-size: 1rem;
        padding: 0; }
        .main__intro--desc button {
          aspect-ratio: 1/1;
          padding: 0.5rem;
          background-color: transparent;
          border: 1px solid white;
          border-radius: 100%;
          vertical-align: middle;
          margin-right: 1rem;
          font-size: 1rem;
          line-height: 0.6rem;
          color: white; }
      .main__intro--create {
        text-align: right;
        font-size: 1rem; }
        .main__intro--create button {
          aspect-ratio: 1/1;
          padding: 0.5rem;
          background-color: transparent;
          border: 1px solid white;
          border-radius: 100%;
          vertical-align: middle;
          margin-left: 1rem;
          font-size: 1rem;
          line-height: 0.6rem;
          color: white; }
    .main__cardsContainer {
      flex-flow: row wrap;
      padding: 6rem; }
      .main__cardsContainer :nth-child(3) {
        width: 34%; }
    .main__card {
      width: 31%;
      border: 0;
      min-height: 10vh;
      border: 1px solid #bccac7;
      margin: 0rem 0.5%; }
    .main__cardContent {
      min-height: 35vh;
      padding: 3rem;
      font-size: 0.9rem; }
    .main__create {
      font-size: 5vh;
      padding: 3rem 6rem; }
    .main__contact {
      display: flex;
      flex-flow: row wrap; }
    .main__contactForm {
      width: 50%;
      padding: 0;
      font-size: 0.8rem; }
      .main__contactForm--form {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between; }
        .main__contactForm--form input {
          width: 100%;
          border: 1px solid #bccac7;
          border-radius: 1rem;
          padding: 0.2rem 0.5rem;
          font-size: 0.65rem; }
      .main__contactForm--side {
        width: 48%;
        margin-bottom: 2vh; }
      .main__contactForm--sideB {
        width: 100%; }
        .main__contactForm--sideB input {
          width: 50%;
          font-family: mirra;
          text-transform: uppercase;
          font-size: 2rem;
          padding: 1rem 0rem 0.7rem 2rem;
          text-align: left;
          border-radius: 3rem; }
      .main__contactForm--container h3 {
        font-size: 3rem; }
      .main__contactForm--container textarea {
        width: 100%;
        border: 1px solid #bccac7;
        border-radius: 1rem;
        padding: 0.5rem 0.5rem;
        font-size: 0.65rem; }
    .main__map {
      width: 50%;
      background-color: black;
      height: 70vh; }
    .main__grid {
      width: 86%;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-auto-columns: 1fr;
      grid-auto-rows: 1fr;
      gap: 2rem 2rem;
      grid-auto-flow: row;
      align-content: center;
      align-items: stretch;
      grid-template-areas: "main__e01 main__e02 main__e02" "main__e03 main__e02 main__e02"; }
      .main__grid--e01 {
        grid-area: main__e01;
        background-color: red; }
      .main__grid--e02 {
        grid-area: main__e02;
        background-color: blue; }
      .main__grid--e03 {
        grid-area: main__e03;
        background-color: green; }
  .create__container {
    height: 100vh;
    padding: 8rem 6rem;
    display: flex;
    align-items: center;
    background-color: #bccac7; }
  .create__title {
    width: 30vh;
    font-family: mirra;
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 6rem; }
  .create__img {
    aspect-ratio: 1/1;
    width: 40vw;
    text-align: center;
    position: relative; } }

.add {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  background-color: black;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 0;
  width: 100%; }
  .add__price {
    width: 10%;
    font-size: 0.6rem; }
  .add__cart {
    background-color: white;
    aspect-ratio: 1/1;
    border: 1px solid black;
    font-size: 3rem;
    border-radius: 100%; }

#settings {
  width: 30vw;
  font-size: 1.6vh;
  color: white;
  display: flex;
  flex-flow: row wrap; }
  #settings button {
    background-color: transparent;
    color: white;
    border: 0;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0.3rem 0; }

.settings__01 {
  width: 50%; }

.settings__02 {
  width: 50%; }

.settings__03 {
  width: 50%;
  margin-top: 2rem; }

#seleccion {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 30vw;
  aspect-ratio: 1/1; }
  #seleccion img {
    width: 100%;
    aspect-ratio: 1/1; }

#seleccionColor {
  border-radius: 100%;
  aspect-ratio: 1/1;
  width: 30vw;
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: white; }

#seleccionDos {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 30vw;
  aspect-ratio: 1/1; }
  #seleccionDos img {
    width: 100%;
    aspect-ratio: 1/1; }

.flashSale {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.5vh;
  line-height: 1.5vh;
  padding-top: 1vh; }

@media (min-width: 1280px) {
  .main__intro {
    padding-top: 2rem; }
    .main__intro--desc {
      margin-top: -3rem; }
    .main__intro--create {
      margin-top: -3rem; } }

.asideCart--closed {
  display: none; }

.asideCart__Open {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  width: 25%;
  height: 100vh;
  background-color: white;
  padding: 2vw; }

.asideCart__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  max-height: 60vh;
  overflow: auto; }

.asideCart__close {
  border-radius: 100%;
  aspect-ratio: 1/1;
  padding: 0.3rem 0.5rem 0rem 0.5rem;
  border: 1px solid #bccac7;
  background-color: white;
  color: #bccac7;
  align-self: flex-end;
  margin-right: 1vw;
  margin-bottom: 2rem;
  width: 2rem; }
  .asideCart__close span {
    font-size: 0.8rem; }
  .asideCart__close button {
    background: transparent;
    border: 0; }

.asideCart__list {
  display: flex;
  flex-flow: row wrap;
  text-transform: uppercase;
  border-bottom: 1px solid gray;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem; }

.asideCart__img {
  aspect-ratio: 1/1;
  width: 30%;
  margin-right: 3%; }
  .asideCart__img img {
    width: 100%; }

.asideCart__info {
  width: 63%; }
  .asideCart__info h3 {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400; }
  .asideCart__info p {
    font-size: 0.8rem;
    color: gray;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem; }

.asideCart__total {
  display: flex;
  flex-flow: row wrap;
  font-size: 1rem;
  text-transform: uppercase;
  justify-content: space-between;
  width: 100%; }

#storeGrid {
  display: flex;
  flex-flow: row wrap;
  margin: auto; }

.storeGrid {
  display: flex;
  flex-flow: row wrap; }
  .storeGrid__card {
    width: 24%;
    overflow: hidden;
    position: relative;
    margin: 0.5%;
    aspect-ratio: 1/1;
    border-radius: 1rem; }
    .storeGrid__card img {
      width: 100%;
      aspect-ratio: 1/1;
      transition: 0.5s; }
    .storeGrid__card p {
      font-family: poppins;
      text-transform: uppercase;
      margin: 0; }
    .storeGrid__card:hover .storeGrid__info {
      opacity: 1;
      transition: 0.5s; }
    .storeGrid__card:hover .storeGrid__button {
      opacity: 1;
      transition: 0.5s; }
    .storeGrid__card:hover img {
      width: 200%;
      transition: 1s; }
  .storeGrid__info {
    background-color: rgba(0, 0, 0, 0.277);
    color: white;
    position: absolute;
    bottom: 0;
    padding: 0.5rem;
    width: 100%;
    opacity: 0;
    transition: 0.5s; }
  .storeGrid__button {
    font-size: 0.9rem;
    border-radius: 100%;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    padding: 0.3rem 0.4rem 0rem 0.4rem;
    transition: 0.5s;
    opacity: 0;
    transition: 0.5s; }
    .storeGrid__button span {
      font-size: 0.8rem;
      line-height: 0.8rem;
      vertical-align: middle; }
    .storeGrid__button :hover {
      transition: 0.5s;
      color: #bccac7; }
  .storeGrid__nombre {
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
    line-height: 0.75rem; }
  .storeGrid__precio {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 0.9rem; }

#checkout {
  width: 85%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  margin-top: 6rem; }

#checkoutLista {
  width: 60%; }

#checkoutCompra {
  width: 30%; }

.checkout__title {
  width: 100%;
  font-family: mirra;
  font-size: 3rem;
  text-transform: uppercase; }

#settings__color {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between; }

.settings__color--boton {
  aspect-ratio: 1/1;
  width: 2rem;
  height: 2rem;
  border-radius: 100%; }
