@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
@font-face {
  font-family: mirra;
  src: url(../font/Mirra.otf); }

.body {
  background-color: #f0f1ed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins; }

.main__img {
  overflow: hidden; }

.main__wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }
  .main__wrapper video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

.main__intro {
  position: relative;
  color: white;
  padding: 0rem;
  width: 90%; }
  .main__intro a {
    color: white;
    text-decoration: none; }
  .main__intro--desc {
    padding-top: 6rem; }
  .main__intro--create {
    padding: 0; }

.main__cardsContainer {
  display: flex;
  flex-direction: column; }

.main__card {
  background-color: white; }
  .main__card img {
    width: 50%;
    margin-bottom: 2rem; }

.main__create {
  padding: 2rem;
  background-image: url(../img/pexels-photo-4210804.jpeg);
  background-size: cover;
  height: 100vh;
  font-family: mirra;
  line-height: 3rem; }

.main__news {
  font-family: mirra;
  text-transform: uppercase;
  padding: 3rem 6rem;
  font-size: 10rem;
  position: relative; }

.main__newsGrid {
  top: -7rem;
  position: relative;
  width: 70%;
  height: auto;
  left: 15%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  grid-template-areas: "main__store01 main__store02 main__store03 main__store03" "main__store04 main__store05 main__store03 main__store03" "main__store06 main__store06 main__store07 main__store08" "main__store06 main__store06 main__store09 main__store10";
  align-content: center;
  align-items: stretch; }

.main__store01 {
  grid-area: main__store01;
  background-color: yellow;
  aspect-ratio: 1 / 1;
  position: relative; }

.main__store02 {
  grid-area: main__store02;
  background-color: yellow;
  aspect-ratio: 1 / 1;
  position: relative; }

.main__store03 {
  grid-area: main__store03;
  background-color: yellow;
  aspect-ratio: 1 / 1;
  position: relative; }

.main__store04 {
  grid-area: main__store04;
  background-color: yellow;
  aspect-ratio: 1 / 1;
  position: relative; }

.main__store05 {
  grid-area: main__store05;
  background-color: yellow;
  aspect-ratio: 1 / 1;
  position: relative; }

.main__store06 {
  grid-area: main__store06;
  background-color: yellow;
  aspect-ratio: 1 / 1;
  position: relative; }

.main__store07 {
  grid-area: main__store07;
  background-color: yellow;
  aspect-ratio: 1 / 1;
  position: relative; }

.main__store08 {
  grid-area: main__store08;
  background-color: yellow;
  aspect-ratio: 1 / 1;
  position: relative; }

.main__store09 {
  grid-area: main__store09;
  background-color: yellow;
  aspect-ratio: 1 / 1;
  position: relative; }

.main__store10 {
  grid-area: main__store10;
  background-color: yellow;
  aspect-ratio: 1 / 1;
  position: relative; }

.main__contact {
  display: flex;
  flex-direction: column; }

.main__contactForm {
  height: 50vh; }
  .main__contactForm--container {
    margin: 6rem; }
    .main__contactForm--container h3 {
      font-family: mirra; }

.main__map {
  filter: grayscale(100);
  height: 50vh; }

.footer {
  width: 100%;
  padding: 3rem 6rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-weight: bold;
  background-color: #bccac7; }
  .footer ul {
    list-style-type: none;
    font-weight: 400;
    margin-top: 0.5rem;
    padding: 0; }
  .footer li {
    margin-top: 0.5rem; }
  .footer__sns {
    width: 50%; }

@media (min-width: 992px) {
  .header {
    font-size: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    color: white;
    background-color: rgba(255, 255, 255, 0.253);
    border-bottom: 1px solid white;
    padding: 0; }
    .header img {
      height: 2rem; }
    .header__button {
      margin-right: 6rem;
      border-radius: 100%;
      width: 2rem;
      height: 2rem;
      text-align: center; }
  .navbar-brand {
    padding: 1rem 5rem; }
  .main {
    top: 0;
    left: 0; }
    .main__wrapper {
      background-size: 88%;
      background-position: center; }
    .main__intro {
      width: 100%;
      padding: 0vh 6rem;
      font-size: 10vh;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: center;
      align-items: center; }
      .main__intro--desc {
        text-align: left;
        font-size: 1rem;
        padding: 0; }
        .main__intro--desc button {
          aspect-ratio: 1/1;
          padding: 1rem;
          background-color: transparent;
          border: 1px solid white;
          border-radius: 100%;
          vertical-align: middle;
          margin-right: 1rem;
          font-size: 1rem;
          line-height: 0.6rem;
          color: white; }
      .main__intro--create {
        text-align: right;
        font-size: 1rem; }
        .main__intro--create button {
          aspect-ratio: 1/1;
          padding: 1rem;
          background-color: transparent;
          border: 1px solid white;
          border-radius: 100%;
          vertical-align: middle;
          margin-left: 1rem;
          font-size: 1rem;
          line-height: 0.6rem;
          color: white; }
    .main__cardsContainer {
      flex-flow: row wrap;
      padding: 6rem; }
      .main__cardsContainer :nth-child(3) {
        width: 34%; }
    .main__card {
      width: 31%;
      border: 0;
      min-height: 10vh;
      border: 1px solid #bccac7;
      margin: 0rem 0.5%; }
    .main__cardContent {
      min-height: 35vh;
      padding: 3rem;
      font-size: 0.9rem; }
    .main__create {
      font-size: 5vh;
      padding: 3rem 6rem; }
    .main__contact {
      display: flex;
      flex-flow: row wrap; }
    .main__contactForm {
      width: 50%;
      padding: 0; }
    .main__map {
      width: 50%;
      background-color: black;
      height: 70vh; }
    .main__grid {
      width: 86%;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-auto-columns: 1fr;
      grid-auto-rows: 1fr;
      gap: 2rem 2rem;
      grid-auto-flow: row;
      align-content: center;
      align-items: stretch;
      grid-template-areas: "main__e01 main__e02 main__e02" "main__e03 main__e02 main__e02"; }
      .main__grid--e01 {
        grid-area: main__e01;
        background-color: red; }
      .main__grid--e02 {
        grid-area: main__e02;
        background-color: blue; }
      .main__grid--e03 {
        grid-area: main__e03;
        background-color: green; }
  .create__container {
    height: 100vh;
    padding: 8rem 6rem;
    display: flex;
    align-items: center;
    background-color: pink; }
  .create__title {
    width: 30vh;
    font-family: mirra;
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 6rem; }
  .create__img {
    aspect-ratio: 1/1;
    width: 40vw;
    text-align: center;
    position: relative; }
    .create__img img {
      width: 50%; } }

.add {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  background-color: black;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 0;
  width: 100%; }
  .add__price {
    width: 10%;
    font-size: 0.6rem; }
  .add__cart {
    background-color: white;
    aspect-ratio: 1/1;
    border: 1px solid black;
    font-size: 3rem;
    border-radius: 100%; }

#settings {
  width: 30vw;
  background-color: green; }
  #settings button {
    background-color: transparent;
    color: white;
    border: 0;
    text-transform: uppercase;
    font-weight: 400; }

#seleccion {
  position: absolute;
  top: 10%;
  left: 0%; }

#seleccionColor {
  background-color: white;
  border-radius: 100%;
  aspect-ratio: 1/1;
  width: 30vw;
  position: absolute;
  top: 10%;
  left: 10%; }

#seleccionDos {
  position: absolute;
  top: 10%;
  left: 0%; }

.flashSale {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }
