@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
@font-face {
  font-family: mirra;
  src: url(../font/Mirra.otf);
}

// SCROLLBAR
::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// BODY

.body {
  background-color: #f0f1ed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

.main {
  &__img {
    overflow: hidden;
  }
  &__wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    video {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
  &__intro {
    position: relative;
    color: white;
    padding: 0rem;
    width: 90%;
    a {
      color: white;
      text-decoration: none;
    }
    &--desc {
      padding-top: 6rem;
    }
    &--create {
      padding: 0;
    }
  }
  &__cardsContainer {
    display: flex;
    flex-direction: column;
  }
  &__card {
    background-color: white;
    img {
      width: 50%;
      margin-bottom: 2rem;
    }
  }
  &__break {
    background-image: url(../img/ramofondo.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  &__create {
    padding: 2rem;
    background-image: url(../img/pexels-photo-4210804.jpeg);
    background-size: cover;
    height: 100vh;
    font-family: mirra;
    line-height: 3rem;
  }
  &__news {
    font-family: mirra;
    text-transform: uppercase;
    padding: 3rem 6rem;
    font-size: 10rem;
    position: relative;
  }
  &__contact {
    display: flex;
    flex-direction: column;
  }
  &__contactForm {
    height: 50vh;
    &--container {
      margin: 6rem;
      h3 {
        font-family: mirra;
      }
    }
  }
  &__map {
    filter: grayscale(100);
    height: 50vh;
  }
  &__link {
    margin: auto; 
    text-align:center;
    font-size: 3rem;
    margin-top: 2rem;
    a {color: black;
    text-decoration: none;}
  }
}

.footer {
  width: 100%;
  padding: 3rem 6rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-weight: bold;
  background-color: #bccac7;
  ul {
    list-style-type: none;
    font-weight: 400;
    margin-top: 0.5rem;
    padding: 0;
    font-size: 0.6rem;
  }
  li {
    margin-top: 0.5rem;
  }
  &__sns {
    width: 50%;
    img {
      height: 2rem;
      margin-right: 1rem;
    }
  }
}

@media (min-width: 992px) {
  .header {
    font-size: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    color: white;
    background-color: rgba(255, 255, 255, 0.253);
    border-bottom: 1px solid white;
    padding: 0;
    img {
      height: 2rem;
    }
    &__button {
      margin-right: 6rem;
      border-radius: 100%;
      width: 2rem;
      height: 2rem;
      text-align: center;
    }
  }

#cartButton {
    position: relative;
    border:0;
    background-color: transparent;
    p {
      position: absolute;
      top: 0;
      right: 0;
      background-color: red;
      aspect-ratio: 1/1;
      padding: 0.3vh 0.7vh;
      font-size: 1.2vh;
      color: white;
      border-radius: 100%;
    }
  }
  .navbar-brand {
    padding: 1rem 5rem;
  }

  .main {
    top: 0;
    left: 0;
    &__wrapper {
      background-size: 88%;
      background-position: center;
    }
    &__intro {
      width: 100%;
      padding: 0vh 6rem;
      font-size: 10vh;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      &--desc {
        text-align: left;
        font-size: 1rem;
        padding: 0;
        button {
          aspect-ratio: 1/1;
          padding: 0.5rem;
          background-color: transparent;
          border: 1px solid white;
          border-radius: 100%;
          vertical-align: middle;
          margin-right: 1rem;
          font-size: 1rem;
          line-height: 0.6rem;
          color: white;
        }
      }
      &--create {
        text-align: right;
        font-size: 1rem;
        button {
          aspect-ratio: 1/1;
          padding: 0.5rem;
          background-color: transparent;
          border: 1px solid white;
          border-radius: 100%;
          vertical-align: middle;
          margin-left: 1rem;
          font-size: 1rem;
          line-height: 0.6rem;
          color: white;
        }
      }
    }
    &__cardsContainer {
      flex-flow: row wrap;
      padding: 6rem;
      :nth-child(3) {
        width: 34%;
      }
    }
    &__card {
      width: 31%;
      border: 0;
      min-height: 10vh;
      border: 1px solid #bccac7;
      margin: 0rem 0.5%;
    }
    &__cardContent {
      min-height: 35vh;
      padding: 3rem;
      font-size: 0.9rem;
    }
    &__create {
      font-size: 5vh;
      padding: 3rem 6rem;
    }
    &__contact {
      display: flex;
      flex-flow: row wrap;
    }
    &__contactForm {
      width: 50%;
      padding: 0;
      font-size: 0.8rem;
      &--form {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        input {
          width: 100%;
          border: 1px solid #bccac7;
          border-radius: 1rem;
          padding: 0.2rem 0.5rem;
          font-size: 0.65rem;
        }
      }
      &--side {
        width: 48%;
        margin-bottom: 2vh;
      }
      &--sideB {
        width: 100%;
        input {
          width: 50%;
          font-family:mirra;
          text-transform:uppercase;
          font-size: 2rem;
          padding: 1rem 0rem 0.7rem 2rem;
          text-align:left;
          border-radius: 3rem;
        }
      }
      &--container {
        h3 {
          font-size: 3rem;
        }
        textarea {
          width: 100%;
          border: 1px solid #bccac7;
          border-radius: 1rem;
          padding: 0.5rem 0.5rem;
          font-size: 0.65rem;
        }
      }
    }
    &__map {
      width: 50%;
      background-color: black;
      height: 70vh;
    }
    &__grid {
      width: 86%;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-auto-columns: 1fr;
      grid-auto-rows: 1fr;
      gap: 2rem 2rem;
      grid-auto-flow: row;
      align-content: center;
      align-items: stretch;
      grid-template-areas:
        "main__e01 main__e02 main__e02"
        "main__e03 main__e02 main__e02";
      &--e01 {
        grid-area: main__e01;
        background-color: red;
      }

      &--e02 {
        grid-area: main__e02;
        background-color: blue;
      }

      &--e03 {
        grid-area: main__e03;
        background-color: green;
      }
    }
  }

  .create {
    &__container {
      height: 100vh;
      padding: 8rem 6rem;
      display: flex;
      align-items: center;
      background-color: #bccac7;
    }
    &__title {
      width: 35vh;
      font-family: mirra;
      text-transform: uppercase;
      font-size: 7rem;
      line-height: 6rem;
    }
    &__img {
      aspect-ratio: 1/1; 
  width: 40vw;
      text-align: center;
      position: relative;
    }
  }
}

.add {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  background-color: black;
  padding: 0.5rem 1rem;
  position: absolute; 
  bottom:0;
  width: 100%;
  &__price {
    width: 10%;
    font-size: 0.6rem;
  }
  &__cart {
    background-color: white;
    aspect-ratio: 1/1;
    border: 1px solid black;
    font-size: 3rem;
    border-radius: 100%;
  }
}

.settings {
  &__01 {
    width: 50%;
  }
  &__02 {
    width: 50%;
  }
  &__03 {
    width: 50%;
    margin-top: 2rem;
  }
}

#seleccion {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 30vw;
  aspect-ratio: 1/1; 
  -webkit-transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -ms-transition: opacity .5s ease-in-out;
   -o-transition: opacity .5s ease-in-out;
   transition: opacity .5s ease-in-out;
  img {
    width: 100%;
    aspect-ratio: 1/1;
  }
}

#seleccionColor {
  border-radius: 100%;
  aspect-ratio: 1/1; 
  width: 30vw;
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: white;
  transition: background-color .7s;
}

#seleccionDos {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 30vw;
  aspect-ratio: 1/1; 
  -webkit-transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -ms-transition: opacity .5s ease-in-out;
   -o-transition: opacity .5s ease-in-out;
   transition: opacity .5s ease-in-out;
  img {
    width: 100%;
    aspect-ratio: 1/1;
  }
}


.flashSale {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
background-color: white;
text-transform: uppercase;
letter-spacing: 0.1rem;
font-size: 1.5vh;
line-height: 1.5vh;
padding-top: 1vh;

}

@media (min-width: 1280px) {
  .main {
    &__intro {
      padding-top: 2rem;
      &--desc {
        margin-top: -3rem;
      }
      &--create {
        margin-top: -3rem;
      }
    }
  }

}

.asideCart {
  &--closed { 
    display: none;
}
&--await {
  opacity:0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  width: 25%;
  height: 100vh;
  background-color: white;
  -webkit-transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -ms-transition: opacity .5s ease-in-out;
   -o-transition: opacity .5s ease-in-out;
   transition: opacity .5s ease-in-out;
}
&--open {
  opacity:1;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  width: 25%;
  height: 100vh;
  background-color: white;
  -webkit-transition: opacity .5s ease-in;
   -moz-transition: opacity .5s ease-in;
   -ms-transition: opacity .5s ease-in;
   -o-transition: opacity .5s ease-in;
   transition: opacity .5s ease-in;
}
  &__Open {
    position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  width: 25%;
  height: 100vh;
  background-color: white;
  
  }
  &__content {
    padding: 2vw;
  display: flex;
  flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 70vh;
    overflow: auto;
    border-bottom: 1px solid #ccc;
    margin-top: 9vh;
}
&__close {

  border-radius: 100%;
  aspect-ratio: 1/1;
  padding: 0.3rem 0.5rem 0rem 0.5rem;
  border: 1px solid #bccac7;
  background-color: white;
  color: #bccac7;
  position: absolute;
  right: 0;
  width: 2rem;
  margin: 2vw;
  span {
    font-size: 0.8rem;
  }
  button {
    background: transparent;
    border: 0;
  }
}
&__list {
  display: flex;
  flex-flow: row wrap;
  text-transform: uppercase;
  border-bottom: 1px solid gray; 
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;  
}
&__img {
  aspect-ratio: 1/1;
  width: 30%;
  margin-right: 3%;
  img {width: 100%;}
}
&__info {
  width: 63%;
  h3 { 
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
  }
  p {
    font-size: 0.8rem;
    color: gray;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
  }
}
&__total {
  display: flex; 
  flex-flow: row wrap;
  font-size: 1rem;
  text-transform:uppercase;
  justify-content: space-between;
  width: 100%;
  padding: 2vw;
}
&__llevar {
  width: 85%;
  position:absolute;
  bottom: 2rem;
  border: 0px;
  border-radius: 1rem;
  text-transform:uppercase;
  font-size: 0.9rem;
  padding: 1rem;
  margin: 0vw 2vw;
}
}

#store {
  display: flex;
  width: 100vw; 
  padding: 0rem 6rem;
  &__tags {
    width: 20%;
    background-color: purple;
  }
  &__grid {
    display: flex;
  flex-flow: row wrap;
  margin:auto;
  width: 80%;
  }
}


.storeGrid {
  display: flex;
  flex-flow: row wrap;
  &__card {
    width: 21%;
    overflow: hidden;
    position: relative;
    margin: 2%;
    img {
      width: 100%;
      aspect-ratio: 1/1;
      transition: 0.5s;
    }
    p {
      font-family: poppins;
      text-transform: uppercase;
      margin:0;
    }
    &:hover img {
      width: 200%;
      transition: 1s;
    }
  }
  &__info {
    color: gray;
    padding: 0.5rem;
    width: 100%;
  }
  &__button {
    font-size: 0.9rem;
    border-radius: 100%;
    border: 1px solid gray;
    color: gray;
    background-color: transparent;
     padding: 0.3rem 0.4rem 0rem 0.4rem;
     position: absolute;
     bottom:0.5rem;
     right: 0;
     span {
      font-size: 0.8rem;
      line-height: 0.8rem;
      vertical-align: middle;
     }
     :hover {
      transition: 0.5s;
    color: #bccac7;
     }
  }
  &__nombre {
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
    line-height: 0.75rem;
  }
  &__precio {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 0.9rem;
  }
}

.checkout {

  &__title {
    width: 100%;
    font-family: mirra;
    font-size: 3rem;
    text-transform:uppercase;
  }
}

#settings {
  width: 25vw;
  font-size: 1.6vh;
  color: white;
  display: flex;
  flex-flow: row wrap;
  text-align: right;
  &__color {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
  }
  &__compra {
    &--total {
      display: flex;
      justify-content: space-between;
      font-size: 1rem;

    }
    &--button {
      color: black;
      background-color: white;
      width: 100%;
      padding: 0.6rem 0rem 0.3rem 0rem;
      border-radius: 1.5rem;
      text-transform: uppercase;
      border: 0px;
      font-family: mirra;
      font-size: 2.5rem;
    }
  }
  &__principal {
    width: 30%;
    margin-right: 10%;
  }
  &__secundario {
    width: 30%;
    margin-top: 2rem;
    margin-right: 10%;
  }
  &__cantidad {
    background-color: red;
    width: 50%;
    margin-left: 10%;
    border-radius: 1rem;
    text-align: center;
  }
  &__switch {
    background-color: red;
    width: 50%;
    margin-left: 10%;
    border-radius: 1rem;
    text-align:center;
    margin-top: 2rem;
    h3 {
      font-size: 1.2rem;
    }
  }
}

.selectPrincipal {
  text-transform: uppercase;
  margin: 0.5rem 0rem;
}

.selectSecundaria {
  text-transform: uppercase;
  margin: 0.5rem 0rem;
}

.settings {
  &__color {
    &--boton {
      aspect-ratio: 1/1;
      width: 2rem;
      height: 2rem;
      border-radius: 100%;
      margin: 0rem 0.1rem;
    }
  }
}

#newIn {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 6vw; 
  grid-template-areas: 
  "main__e01 main__e02 main__e02"
  "main__e03 main__e02 main__e02"; 
  align-content: center; 
  align-items: stretch; 
  font-size: 1rem;
  width: 70%;
  margin:auto;
}

.newIn {
  &__card {
    overflow: hidden;
  font-size: 1rem;
  position: relative;
  img {
    width: 100%;
  }
  }
  &__card:nth-child(1) {
    grid-area: main__e01;
  }
  &__card:nth-child(2) {
    grid-area: main__e02;
    img {
      height: 93%;
    }
  }
  &__card:nth-child(3) {
    grid-area: main__e03;
  }
  &__info {
    font-family: poppins;
    text-transform: uppercase;
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin-top: 0.8rem;
    p {
      margin:0;
    }
    &--nombre  {
      color: #878787;
    }
  }
  &__button { 
    background-color: white;
    border-radius: 100%;
    color: #878787;
    border: 1px solid #878787;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    .material-symbols-outlined {
      font-size: 0.9rem;
      line-height: 0.9rem;
    }
  }
}

#settings {
  &__compra {
    width: 100%;
  }
}



#checkout {
  align-items: flex-start;
  padding-bottom: 6rem;
  width: 85%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  &__container {
    position: sticky;
    left: 0;
    top: 6rem;
  }
  &__lista {
    height: 40vh;
    overflow: auto;
    margin-bottom: 5vh;
  }
  &__codeBox {
    text-transform: uppercase;
    font-size: 0.9rem;
    &--approved {
      display: flex;
      justify-content: space-between;
    }
  }
  &__code {
    width: 70%;
    padding: 0.7vh;
    text-transform:uppercase;
    font-size: 0.8rem;
    border: 1px solid black;
  }
  &__discount {
    padding: 0.7vh;
    background-color: black;
    border: 1px solid black;
    width: 28%;
    text-transform: uppercase;
    margin-left: 1%;
    font-size: 0.8rem;
    color: white;
  }

  &__form {
    position: relative;
    h2 {
      font-size: 2rem;
    }
    input {
      width: 100%;
      font-size: 0.7rem;
      padding: 0.7vh;
    }
    label {
      margin: 3vh 0vw 1vh 0vw;
      text-transform:capitalize;
      font-weight: 400;
      font-size: 0.8rem;
    }
  }
  &__cards {
    display: flex;
    div {
      width: 49%;
      border:0;
      background-color: white;
      aspect-ratio:1/1;
      transition: .4s;
      margin:0;
    }
    }
  &__submit {
    margin-top: 10vh;
    background-color: black;
    color: white;
    padding: 2%;
    border:0;
    width: 100%;
    text-align:center;
    span {
      font-size: 0.9rem;
    }
  }

}

#selection {
  width: 100%;
  padding: 1vh;
  font-size: 0.9rem;
  text-transform:uppercase;
}

.checkout {
  border: 1px solid black;
  width: 50vw;
  padding: 5vw;
  height: auto;
  margin-right: 2vw;
  &__ref {
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    h3 {
      font-size: 0.8rem;
    }

  }
  &__el {
    display: flex;
    padding: 2vw 0vw;
    line-height: 100%;
    &--img {
      img {
        width: 10vw;
      aspect-ratio: 1/1;
      overflow:hidden;
      }
    }
    &--product {
    text-transform:uppercase;
    padding-left: 2vw;
    h3 {
      font-size: 1.3rem;
    }
    }
  }
  &__total {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: 1vw;
    text-transform: uppercase;
    margin-top: 2vh;
    font-size: 0.9rem;
    &--bold {
      font-weight: bold;
      font-size: 1.1rem;
    }
  }
  &__error  {
    color: red;
    margin-top: 1vh;
  }
}

#checkoutCompra {
  padding: 3vw;
  border: 1px solid black;
  width: 32vw;
  margin-top: 6rem;
}



.settings__text {
 margin-top: 5vh;
 color: black;
 width:100%;

 /* Transformaciones */
 transform-origin: left top;
 textarea {
  width: 25vw;
  height: 10vh;
  padding: 5%;
 }
}

.settings__text--on {
 animation: .6s cubic-bezier(0.69, 0.02, 0.33, 1.06) on;
}

.settings__text--off {
  opacity: 0;
  height: 0;
  animation: .6s cubic-bezier(0.69, 0.02, 0.33, 1.06) off;
}

@keyframes on {
  0%   {opacity: 0;
  height: 0;}
  100% {opacity: 1;
  height: 10vh;}
}

@keyframes off {
  0%   {opacity: 1;
  height: 10vh;}
  100% {opacity: 0;
  height: 0vh;}
}

.checkout__error--off {
  color: red;
  animation: 2s cubic-bezier(0.69, 0.02, 0.33, 1.06) error;
  opacity: 0;
  margin:0;
}
.checkout__error--on {
  color: red;

}

@keyframes error {
  0% {
    opacity: 1;
    height: auto;
  }
  100% {opacity: 0;}
}

.contactError__on {
  opacity: 1;
}

.contactError__off{
  opacity:0;
  height:0;
  transition: all 2s;
}

@keyframes cartOn {
  0% {
    opacity: 0;
    width:0;
  }
  100% {opacity: 1;
  width: 20vh;}
}

@keyframes cartOff {
  0% {
    opacity: 1;
    width:20vh;
  }
  100% {opacity: 0;
  width: 0vh;
  display: none;}
}