// IMPORTS
@import "./sections/swal.scss";
@import "./sections/nav.scss";
@import "./sections/aside.scss";
@import "./sections/new.scss";
@import "./sections/create.scss";
@import "./sections/store.scss";
@import "./sections/checkout.scss";



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
@font-face {
  font-family: mirra;
  src: url(../font/Mirra.otf);
}

// SCROLLBAR
::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// BODY

.body {
  background-color: #f0f1ed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

.main {
  &__img {
    overflow: hidden;
  }
  &__wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    video {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
  &__intro {
    position: relative;
    color: white;
    padding: 0rem;
    width: 90%;
    a {
      color: white;
      text-decoration: none;
    }
    &--desc {
      padding-top: 6rem;
    }
    &--create {
      padding: 0;
    }
  }
  &__cardsContainer {
    display: flex;
    flex-direction: column;
  }
  &__card {
    background-color: white;
    img {
      width: 50%;
      margin-bottom: 2rem;
    }
  }
  &__break {
    background-image: url(../img/ramofondo.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  &__create {
    padding: 2rem;
    background-image: url(../img/pexels-photo-4210804.jpeg);
    background-size: cover;
    height: 100vh;
    font-family: mirra;
    line-height: 3rem;
  }
  &__news {
    font-family: mirra;
    text-transform: uppercase;
    padding: 3rem 6rem;
    font-size: 10rem;
    position: relative;
  }
  &__contact {
    display: flex;
    flex-direction: column;
  }
  &__contactForm {
    height: 50vh;
    &--container {
      margin: 6rem;
      h3 {
        font-family: mirra;
      }
    }
  }
  &__map {
    filter: grayscale(100);
    height: 50vh;
  }
  &__link {
    margin: auto; 
    text-align:center;
    font-size: 3rem;
    margin-top: 2rem;
    a {color: black;
    text-decoration: none;}
  }
  &__store {
    &--title {
      padding: 6rem 6rem 0rem 6rem;
      font-family: mirra;
      font-size: 6rem;
      text-transform:uppercase;
      
    }
  }
}

.footer {
  width: 100%;
  padding: 3rem 6rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-weight: bold;
  background-color: #dee2cf;
  ul {
    list-style-type: none;
    font-weight: 400;
    margin-top: 0.5rem;
    padding: 0;
    font-size: 0.7rem;
  }
  li {
    margin-top: 0.5rem;
  }
  a {
    text-decoration: none;
    color: #858585;
  }
  &__sns {
    width: 50%;
    img {
      height: 1rem;
      margin-right: 2rem;
    }
  }
}

@media (min-width: 992px) {

  .main {
    top: 0;
    left: 0;
    &__wrapper {
      background-size: 88%;
      background-position: center;
    }
    &__intro {
      width: 100%;
      padding: 0vh 6rem;
      font-size: 10vh;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      &--desc {
        text-align: left;
        font-size: 1rem;
        padding: 0;
        button {
          aspect-ratio: 1/1;
          padding: 0.5rem;
          background-color: transparent;
          border: 1px solid white;
          border-radius: 100%;
          vertical-align: middle;
          margin-right: 1rem;
          font-size: 1rem;
          line-height: 0.6rem;
          color: white;
        }
      }
      &--create {
        text-align: right;
        font-size: 1rem;
        button {
          aspect-ratio: 1/1;
          padding: 0.5rem;
          background-color: transparent;
          border: 1px solid white;
          border-radius: 100%;
          vertical-align: middle;
          margin-left: 1rem;
          font-size: 1rem;
          line-height: 0.6rem;
          color: white;
        }
      }
    }
    &__cardsContainer {
      flex-flow: row wrap;
      padding: 6rem;
      :nth-child(3) {
        width: 34%;
      }
    }
    &__card {
      width: 31%;
      border: 0;
      min-height: 10vh;
      border: 1px solid #bccac7;
      margin: 0rem 0.5%;
    }
    &__cardContent {
      min-height: 35vh;
      padding: 3rem;
      font-size: 0.9rem;
    }
    &__create {
      font-size: 5vh;
      padding: 3rem 6rem;
    }
    &__contact {
      display: flex;
      flex-flow: row wrap;
    }
    &__contactForm {
      width: 50%;
      padding: 0;
      font-size: 0.8rem;
      &--form {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        input {
          width: 100%;
          border: 0;
          border-bottom: 1px solid #899693;
          background-color: transparent;
          padding: 0.2rem 0.5rem;
          font-size: 0.65rem;
        }
      }
      &--side {
        width: 48%;
        margin-bottom: 2vh;
      }
      &--sideB {
        width: 100%;
        input {
          width: 100%;
          font-family:poppins;
          text-transform:uppercase;
          font-size: 0.8rem;
          text-align:center;
          background-color: #8a9d93;
          padding: 0.5rem;
          color: white;
        }
      }
      &--container {
        h3 {
          font-size: 3rem;
        }
        textarea {
          width: 100%;
          border: 0;
          border-bottom: 1px solid #899693;
          background-color: transparent;
          padding: 0.5rem 0.5rem;
          font-size: 0.65rem;
        }
      }
    }
    &__map {
      width: 50%;
      background-color: black;
      height: 70vh;
    }
    &__grid {
      width: 86%;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-auto-columns: 1fr;
      grid-auto-rows: 1fr;
      gap: 2rem 2rem;
      grid-auto-flow: row;
      align-content: center;
      align-items: stretch;
      grid-template-areas:
        "main__e01 main__e02 main__e02"
        "main__e03 main__e02 main__e02";
      &--e01 {
        grid-area: main__e01;
        background-color: red;
      }

      &--e02 {
        grid-area: main__e02;
        background-color: blue;
      }

      &--e03 {
        grid-area: main__e03;
        background-color: green;
      }
    }
  }

  .create {
    &__container {
      height: 100vh;
      padding: 4rem 6rem 0rem 6rem;
      display: flex;
      align-items: center;
      background-color: #e8eae1;
    }
    &__title {
      width: 35vh;
      font-family: mirra;
      text-transform: uppercase;
      font-size: 7rem;
      line-height: 6rem;
    }
    &__img {
      aspect-ratio: 1/1; 
  width: 40vw;
      text-align: center;
      position: relative;
    }
  }
}

.add {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  background-color: black;
  padding: 0.5rem 1rem;
  position: absolute; 
  bottom:0;
  width: 100%;
  &__price {
    width: 10%;
    font-size: 0.6rem;
  }
  &__cart {
    background-color: white;
    aspect-ratio: 1/1;
    border: 1px solid black;
    font-size: 3rem;
    border-radius: 100%;
  }
}

.settings {
  &__01 {
    width: 50%;
  }
  &__02 {
    width: 50%;
  }
  &__03 {
    width: 50%;
    margin-top: 2rem;
  }
}


.flashSale {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
background-color: white;
text-transform: uppercase;
letter-spacing: 0.1rem;
font-size: 1.5vh;
line-height: 1.5vh;
padding-top: 1vh;

}

@media (min-width: 1280px) {
  .main {
    &__intro {
      padding-top: 2rem;
      &--desc {
        margin-top: -2rem;
      }
      &--create {
        margin-top: -2rem;
      }
    }
  }

}


#settings {
  &__compra {
    width: 100%;
  }
}
#selection {
  width: 100%;
  padding: 1vh;
  font-size: 0.9rem;
  text-transform:uppercase;
}

.contactError__on {
  opacity: 1;
}

.contactError__off{
  opacity:0;
  height:0;
  transition: all 2s;
}

@keyframes cartOn {
  0% {
    opacity: 0;
    width:0;
  }
  100% {opacity: 1;
  width: 20vh;}
}

@keyframes cartOff {
  0% {
    opacity: 1;
    width:20vh;
  }
  100% {opacity: 0;
  width: 0vh;
  display: none;}
}

#contactError {
  margin-top: 1rem;
  line-height: 110%;
}

